<div>
    <h2 translate="jeducenterApp.studentsSet.home.title">StudentsSets</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="studentsSet.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="jeducenterApp.studentsSet.home.createLabel">Create new StudentsSet
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span translate="jeducenterApp.studentsSet.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span translate="jeducenterApp.studentsSet.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isActive"><span translate="jeducenterApp.studentsSet.isActive">IsActive</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="studentsSet in studentsSets track by studentsSet.id">
                    <td><a ui-sref="studentsSet.detail({id:studentsSet.id})">{{studentsSet.id}}</a></td>
                    <td>{{studentsSet.name}}</td>
                    <td>{{studentsSet.description}}</td>
                    <td>{{studentsSet.isActive}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="studentsSet.detail({id:studentsSet.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="studentsSet.edit({id:studentsSet.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="studentsSet.delete({id:studentsSet.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
    <jh-alert></jh-alert>
</div>
