<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.activation.center.title}">EC activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.activation.center.greeting(${name})}">
            Dear
        </p>
        <p th:text="#{email.activation.center.text1}">
            Your JHipster account has been created, please click on the URL below to activate it:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}"
               th:text="|${user.login}|">Activation Link</a>
        </p>
        <p th:text="#{email.activation.center.text2}">
            For authorization please use next credentials:
        </p>
        <p th:text="#{email.activation.center.login(${user.login})}">
            Login:
        </p>
        <p th:text="#{email.activation.center.password(${password})}">
            Password:
        </p>
        <p>
            <span th:text="#{email.activation.center.regards}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">EC.</em>
        </p>
    </body>
</html>
