
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myStudentLabel" translate="jeducenterApp.student.home.createOrEditLabel">Create or edit a Student</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="student.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.firstName" for="field_firstName">FirstName</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="student.firstName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.lastName" for="field_lastName">LastName</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="student.lastName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.middleName" for="field_middleName">MiddleName</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                    ng-model="student.middleName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="student.type" id="field_type" required>
                <option value="DEV" translate="jeducenterApp.TypeEnumeration.DEV">DEV</option>
                <option value="QA" translate="jeducenterApp.TypeEnumeration.QA">QA</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.email" for="field_email">Email</label>
            <input type="email" class="form-control" name="email" id="field_email"
                    ng-model="student.email"
                    required />
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                    ng-show="editForm.email.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.phone" for="field_phone">Phone</label>
            <input type="tel" class="form-control" name="phone" id="field_phone"
                    ng-model="student.phone"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.university" for="field_university">University</label>
            <input type="text" class="form-control" name="university" id="field_university"
                    ng-model="student.university"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.specialty" for="field_specialty">Specialty</label>
            <input type="text" class="form-control" name="specialty" id="field_specialty"
                    ng-model="student.specialty"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.course" for="field_course">Course</label>
            <input type="text" class="form-control" name="course" id="field_course"
                    ng-model="student.course"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.student.groupName" for="field_groupName">GroupName</label>
            <input type="text" class="form-control" name="groupName" id="field_groupName"
                    ng-model="student.groupName"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
