
<div>
    <h2><span translate="jeducenterApp.timeTable.detail.title">TimeTable</span> {{timeTable.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th translate="entity.detail.field">Field</th>
                <th translate="entity.detail.value">Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span translate="jeducenterApp.timeTable.name">Name</span>
                </td>
                <td>
                    <span class="form-control-static">{{timeTable.name}}</span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="table-responsive">
            <table class="jh-table table table-striped">
                <thead>
                <tr>
                    <th>Студент</th>
                    <th ng-repeat="lesson in lessons track by lesson.id">{{lesson.topic}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="student in students track by student.id">
                    <td>{{student.lastName}}</td>
                    <td ng-repeat="lesson in lessons track by lesson.id">
                        <input ng-model="searchEvaluation(student,lesson).value" ng-change="newEvaluation(searchEvaluation(student,lesson))"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
    <jh-alert></jh-alert>
</div>
