
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myRecallLabel" translate="jeducenterApp.recall.home.createOrEditLabel">Create or edit a Recall</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="recall.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.recall.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="recall.type" id="field_type" required>
                <option value="Technical" translate="jeducenterApp.TypeRecallEnumeration.Technical">Technical</option>
                <option value="Interview" translate="jeducenterApp.TypeRecallEnumeration.Interview">Interview</option>
                <option value="Managerial" translate="jeducenterApp.TypeRecallEnumeration.Managerial">Managerial</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.recall.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="recall.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.recall.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="recall.description" required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="jeducenterApp.recall.pathToFile" for="field_pathToFile">PathToFile</label>
            <input type="text" class="form-control" name="pathToFile" id="field_pathToFile"
                    ng-model="recall.pathToFile"
                     />
        </div>

        <div class="form-group">
            <label translate="jeducenterApp.recall.student" for="field_student">student</label>
            <select class="form-control" id="field_student" name="student" ng-model="recall.student" ng-options="student as student.lastName for student in students track by student.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="jeducenterApp.recall.curator" for="field_curator">curator</label>
            <select class="form-control" id="field_curator" name="curator" ng-model="recall.curator" ng-options="curator as curator.lastName for curator in curators track by curator.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
