<div>
    <h2 translate="jeducenterApp.learningResult.home.title">LearningResults</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="learningResult.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span
                        translate="jeducenterApp.learningResult.home.createLabel">Create new LearningResult
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th><span translate="global.field.id">ID</span></th>
                    <th><span translate="jeducenterApp.learningResult.type">Type</span></th>
                    <th><span translate="jeducenterApp.learningResult.description">Description</span></th>
                    <th><span translate="jeducenterApp.learningResult.creationTime">CreationTime</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="learningResult in learningResults track by learningResult.id">
                    <td><a ui-sref="learningResult.detail({id:learningResult.id})">{{learningResult.id}}</a></td>
                    <td translate="{{'jeducenterApp.TypeOfResult.' + learningResult.type}}">{{learningResult.type}}</td>
                    <td>{{learningResult.description}}</td>
                    <td>{{learningResult.creationTime | date:'medium'}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="learningResult.detail({id:learningResult.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="learningResult.edit({id:learningResult.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="learningResult.delete({id:learningResult.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
    <jh-alert></jh-alert>
</div>
